<div class="table-responsive" style="overflow-x:auto;">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Job No</th>
			  <th>Department</th>
			  <th class="full-content">Insurer</th>
			  <th>GST Number</th>
			  <th>Insurer Loc</th>
			  <th>Insured</th>
			  <th class="date-content">DOL</th>
			  <th class="date-content">DOI</th>
			  <th class="full-content">Description</th>
			  <th>Status</th>
			  <th class="date-content">ILA</th>
			  <th class="date-content">LOR</th>
			  <th>Rep.No</th>
			  <th>Bill No</th>
			  <th>Gross Loss</th>
			  <th class="date-content">Document Received Dates</th>
			  <th class="date-content">Remainder Dates</th>
			  <th>Expenses</th>
			  <th>All Docs Received?</th>
			  <th>Action</th>
			</tr>
		</thead>
	  <tbody>
	  	<% obj.each do |job| %>
				<tr>
					<td><%= job.job_number %></td>
					<td><%= job.department.name %></td>
					<td class="full-content"><%= job.insurance.name %></td>
					<td><%= job.insurance.gst_number %></td>
					<td><%= job.insurance.location %></td>
					<td class="full-content"><%= job.customer_name %></td>
					<td class="date-content"><%= job.dol %></td>
					<td class="date-content"><%= job.doi %></td>
					<td class="full-content"><%= job.description %></td>
					<td><%= job.status %></td>
					<td class="date-content"><%= job&.job_status&.ila_date %></td>
					<td class="date-content"><%= job&.job_status&.lor_date %></td>
					<% if job.report_number %>
						<td><%= job.report_number %></td>
					<% else %>
						<td><%= link_to "Generate Report Number", jobs_path(job_id: job.id, report_number: true) %></td>
					<% end %>
					<% if job.bill_number %>
						<td><%= job.bill_number %></td>
					<% else %>
						<td><%= link_to "Generate Bill Number", jobs_path(job_id: job.id, bill_number: true) %></td>
					<% end %>
					<% if job.gross_loss %>
						<td><%= job.gross_loss %></td>
					<% else %>
						<td><%= link_to "Add", new_gross_loss_path(id: job) %></td>
					<% end %>
					<% if job.document_receiveds %>
						<td class="date-content">
							<% document_received_dates = job.document_receiveds.to_a.collect{ |x| x.date.strftime("%F") } %>
							<%= document_received_dates.join("<br>").html_safe %> 
						</td>
					<% end %>
					<% if job.remainders %>
						<td class="date-content">
							<% remainders_dates = job.remainders.to_a.collect{ |x| x.date.strftime("%F") } %>
							<%= remainders_dates.join("<br>").html_safe %> 
						</td>
					<% end %>
					<% if job.expenses %>
						<td><%= link_to "Show List", list_of_expenses_path(id: job) %></td>
					<% end %>
					<td><%= job.all_documents_received %></td>
					<td><%= link_to "Edit", edit_job_path(job) %> | <%= link_to "Delete", job_path(job), method: :delete, data: { confirm: "Are you sure you want to delete this Job?"}  %></td>
				</tr>
			<% end %>
	  </tbody>
	</table>
</div>
