<!DOCTYPE html>
<html>
  <head>
    <title>SuveyorPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/jobs" class="navbar-brand">Surveyor Application</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsable">
          <ul class="nav navbar-nav foo" id="menu">
            <li><%= link_to "Jobs", jobs_path %>
            <li><%= link_to "Job Status", job_statuses_path %></li>
            <li><%= link_to "Insurances", insurances_path %></li>
            <li><%= link_to "Departments", departments_path %></li>
            <li><%= link_to "Document Received", document_receiveds_path %></li>
            <li><%= link_to "Expenses", expenses_path %></li>
            <li><%= link_to "Remainder", remainders_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
