<!DOCTYPE html>
<html>
  <head>
    <title>SuveyorPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.js"></script>
    <script>
      let events = [];
      rrweb.record({
        emit(event) {
          events.push(event);
        },
      });
      // this function will download events as json file for every 10 seconds and reset the events array
      function save() {
        const body = JSON.stringify({ events });
        events = [];
          var count = 0;

          var fileName =  'events_'+count+".json";
          count++;
          download(body, fileName ,'text/plain');
      }
      // save events every 30 seconds
      setInterval(save, 30 * 1000);
      function download(content, fileName, contentType) {
        var a = document.createElement("a");
        var file = new Blob([content], {type: contentType});
        a.href = URL.createObjectURL(file);
        a.download = fileName;
        a.click();
      }
    </script>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/jobs" class="navbar-brand">Surveyor Application</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsable">
          <ul class="nav navbar-nav foo" id="menu">
            <li><%= link_to "Jobs", jobs_path %>
            <li><%= link_to "Job Status", job_statuses_path %></li>
            <li><%= link_to "Insurances", insurances_path %></li>
            <li><%= link_to "Departments", departments_path %></li>
            <li><%= link_to "Document Received", document_receiveds_path %></li>
            <li><%= link_to "Expenses", expenses_path %></li>
            <li><%= link_to "Remainder", remainders_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
